body{
    width: 900px;
    margin: auto;
    background-color: aliceblue
}

img{
    width: 850px;
    margin-left: 25px;
}
header ul{
    list-style-type: none;
    float: right;
}
header li{
    float: left;
    font-size: 1.2em;
}
header a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
header p{
    float: left;
    font-size: 1.2em;
    margin-left: 5px;
}
header{
    background-color: lightblue;
    border-radius: 10px 10px 0 0;
}
nav{
    float: right;
}
.content{
    background-color: rgba(105, 105, 105, 0.32);
}
.text{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-bottom: 20px;
}
footer{
    height: 30px;
   background-color: lightblue;
    text-align: center;
    padding: 10px;
    border-radius:0 0 10px 10px;
}

.cfx{
    clear: both;
}